<div class="row">
	<div class="span6">
		<article class="home-article">
			<h2>Welcome to the 1871 Portal!</h2>
			<p>
				Sign in to see fellow 1871'ers or create an account!
			</p>
		</article>
	</div>
	<div class="span6">
		<% if !session[:user_id] %>
		<div class="user-sign-in">
			<h3>Sign In</h3>

			<%= form_tag sessions_url do %>
				<div class="home-input">
				 <%= email_field_tag :email %>
				</div>
				<div class="home-input">
					<%= password_field_tag :password %>
				</div>
				<div class="home-input">
					<input type="submit" value="Sign In">
				</div>
			<% end %>

		</div>
		<div class="user-sign-in">
			<h3>Create an Account</h3>

			<%= form_tag users_url do %>
				<div class="home-input">
					<%= email_field_tag :email %>
				</div>
				<div class="home-input">
					<%= text_field_tag :first_name %>
				</div>
				<div class="home-input">
					<%= password_field_tag :password %>
				</div>
				<div class="home-input">
					<%= password_field_tag :password_confirmation %>
				</div>
				<div class="home-input">
					<input type="submit" value="Sign In">
				</div>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
